{% extends 'base.html.twig' %}

{% block title %}all soura!
{% endblock %}

{% block body %}
	<div class="container my-5 shadow-lg p-3 mb-5  bg-white rounded">
		<img src="/img/logo.jpg" class="w-100" alt="">
		<div class="bg-light text-justify p-3" style="line-height:2em">
			عدد الكلمات: {{count}}
			عدد الآيات: {{countAya}}
			{% for soura in souras %}

				<div class="row ">
					<div class="col">
						<a href="{{ path ('soura_show',{'id':soura.id})}}">
							<h3 class="badge badge-success">سورة
								{{soura.title}}</h3>
						</a>
					</div>
					<div class="col text-left">
						<h3 class="badge badge-danger">عدد الآيات:
							{{soura.ayas | length}}</h3>
					</div>
				</div>
				{% if soura.title != "التوبة" %}
					<h4 class="text-center">بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ</h4>
				{% endif %}
				{% for aya in soura.ayaAccents %}
					<span class="aya">{{aya.content}}</span>
					<span class="text-danger">
						&#9789;{{aya.number}}&#9790;
					</span>
				{% endfor %}
				<h5 class="text-left">صدق الله العظيم</h5>
			{% endfor %}

		</div>
	</div>
{% endblock %}
